#inputVal {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #d43232;
    color: #fff;
    font-size: 20px;
    resize: none;
}
#outputVal {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #065d3e;
    color: #fff;
    font-size: 20px;
    resize: none;
}
#submitBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0 0 500px;
    cursor: pointer;
    text-align: center;
}